# 6.1 Sourcing Open Data

### Dataset Preparation

In [1]:
#iporting the libraries
import pandas as pd
import numpy as np
import os
from datetime import date

In [2]:
path = r'C:\Users\daniel\Documents\CareerFoundry\Immersion_achievement6'

In [3]:
#importing the dataset
df = pd.read_csv(os.path.join(path,'data', 'original_data','RKI_COVID19.csv'))

In [4]:
df.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1,2020/09/30 00:00:00+00,1001,"13.10.2021, 00:00 Uhr",0,-9,2020/09/30 00:00:00+00,0,1,0,Nicht übermittelt
1,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2,2020/10/29 00:00:00+00,1001,"13.10.2021, 00:00 Uhr",0,-9,2020/10/29 00:00:00+00,0,1,0,Nicht übermittelt
2,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,3,2020/11/03 00:00:00+00,1001,"13.10.2021, 00:00 Uhr",0,-9,2020/11/03 00:00:00+00,0,1,0,Nicht übermittelt
3,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,4,2020/11/20 00:00:00+00,1001,"13.10.2021, 00:00 Uhr",0,-9,2020/11/19 00:00:00+00,0,1,1,Nicht übermittelt
4,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,5,2020/11/23 00:00:00+00,1001,"13.10.2021, 00:00 Uhr",0,-9,2020/11/18 00:00:00+00,0,1,1,Nicht übermittelt

In [5]:
#check the dataframe size
df.shape

(2484353, 18)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484353 entries, 0 to 2484352
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   IdBundesland          int64
 1   Bundesland            object
 2   Landkreis             object
 3   Altersgruppe          object
 4   Geschlecht            object
 5   AnzahlFall            int64
 6   AnzahlTodesfall       int64
 7   ObjectId              int64
 8   Meldedatum            object
 9   IdLandkreis           int64
 10  Datenstand            object
 11  NeuerFall             int64
 12  NeuerTodesfall        int64
 13  Refdatum              object
 14  NeuGenesen            int64
 15  AnzahlGenesen         int64
 16  IstErkrankungsbeginn  int64
 17  Altersgruppe2         object
dtypes: int64(10), object(8)
memory usage: 341.2+ MB

In [7]:
#variable statistics
df.describe()

,IdBundesland,AnzahlFall,AnzahlTodesfall,ObjectId,IdLandkreis,NeuerFall,NeuerTodesfall,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn
count,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06,2.484353e+06
mean,7.857048e+00,1.742939e+00,3.799299e-02,1.242177e+06,8.185296e+03,2.548752e-03,-8.711598e+00,-5.363843e-01,1.656873e+00,7.202736e-01
std,3.606993e+00,2.268683e+00,2.414624e-01,7.171711e+05,3.572716e+03,5.180679e-02,1.585186e+00,2.136860e+00,2.275013e+00,4.488648e-01
min,1.000000e+00,-3.000000e+00,-1.000000e+00,1.000000e+00,1.001000e+03,-1.000000e+00,-9.000000e+00,-9.000000e+00,-3.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,0.000000e+00,6.210890e+05,5.562000e+03,0.000000e+00,-9.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
50%,8.000000e+00,1.000000e+00,0.000000e+00,1.242177e+06,8.136000e+03,0.000000e+00,-9.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
75%,9.000000e+00,2.000000e+00,0.000000e+00,1.863265e+06,9.679000e+03,0.000000e+00,-9.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00
max,1.600000e+01,1.450000e+02,2.100000e+01,2.484353e+06,1.607700e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.450000e+02,1.000000e+00

In [8]:
#check for mixed-tye data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col +' has mixed-type data')
  else:
    print (col + ' data type is uniform')

IdBundesland data type is uniform
Bundesland data type is uniform
Landkreis data type is uniform
Altersgruppe data type is uniform
Geschlecht data type is uniform
AnzahlFall data type is uniform
AnzahlTodesfall data type is uniform
ObjectId data type is uniform
Meldedatum data type is uniform
IdLandkreis data type is uniform
Datenstand data type is uniform
NeuerFall data type is uniform
NeuerTodesfall data type is uniform
Refdatum data type is uniform
NeuGenesen data type is uniform
AnzahlGenesen data type is uniform
IstErkrankungsbeginn data type is uniform
Altersgruppe2 data type is uniform

All data type are uniform

#### Missing values

In [9]:
df.isna().sum()

IdBundesland            0
Bundesland              0
Landkreis               0
Altersgruppe            0
Geschlecht              0
AnzahlFall              0
AnzahlTodesfall         0
ObjectId                0
Meldedatum              0
IdLandkreis             0
Datenstand              0
NeuerFall               0
NeuerTodesfall          0
Refdatum                0
NeuGenesen              0
AnzahlGenesen           0
IstErkrankungsbeginn    0
Altersgruppe2           0
dtype: int64

There are no missing values

#### Duplicates

In [10]:
df_dups = df[df.duplicated()]

In [11]:
df_dups.shape

(0, 18)

There are no duplicated entries

#### Data Cleaning

In [12]:
#rename the columns to have english names
df.rename(columns={'IdBundesland':'StateID','Bundesland':'State','Landkreis':'District','Altersgruppe':'Age_group',
                      'Geschlecht':'Gender', 'AnzahlFall':'N_cases','AnzahlTodesfall':'N_deaths', 'Meldedatum':'Registry_date',
                      'IdLandkreis':'DistrictID','Datenstand':'Updated_on', 'NeuerFall':'New_case', 
                      'NeuerTodesfall':'New_death', 'Refdatum':'Ref_date','NeuGenesen':'New_recoveries', 
                      'AnzahlGenesen':'N_recoveries', 'IstErkrankungsbeginn':'Illness_onset', 'Altersgruppe2':'Age_group2'},
         inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484353 entries, 0 to 2484352
Data columns (total 18 columns):
 #   Column          Dtype
---  ------          -----
 0   StateID         int64
 1   State           object
 2   District        object
 3   Age_group       object
 4   Gender          object
 5   N_cases         int64
 6   N_deaths        int64
 7   ObjectId        int64
 8   Registry_date   object
 9   DistrictID      int64
 10  Updated_on      object
 11  New_case        int64
 12  New_death       int64
 13  Ref_date        object
 14  New_recoveries  int64
 15  N_recoveries    int64
 16  Illness_onset   int64
 17  Age_group2      object
dtypes: int64(10), object(8)
memory usage: 341.2+ MB

#### Check Values

In [15]:
df.StateID.value_counts().sort_index()

1      60499
2      34380
3     191839
4      16436
5     513359
6     190082
7     121275
8     355471
9     449654
10     27952
11    119420
12     80296
13     34118
14    134982
15     61118
16     93472
Name: StateID, dtype: int64

In [16]:
df.State.value_counts().sort_index()

Baden-Württemberg         355471
Bayern                    449654
Berlin                    119420
Brandenburg                80296
Bremen                     16436
Hamburg                    34380
Hessen                    190082
Mecklenburg-Vorpommern     34118
Niedersachsen             191839
Nordrhein-Westfalen       513359
Rheinland-Pfalz           121275
Saarland                   27952
Sachsen                   134982
Sachsen-Anhalt             61118
Schleswig-Holstein         60499
Thüringen                  93472
Name: State, dtype: int64

State and StateID contain redundant information

In [17]:
df.District.value_counts()

SK Hamburg              34380
SK Köln                 25479
SK München              23725
Region Hannover         21464
SK Frankfurt am Main    20697
                        ...
SK Pirmasens             1413
SK Emden                 1357
LK Wittmund              1282
SK Zweibrücken            966
LK Lüchow-Dannenberg      937
Name: District, Length: 411, dtype: int64

In [18]:
df.DistrictID.value_counts()

2000    34380
5315    25479
9162    23725
3241    21464
6412    20697
        ...
7317     1413
3402     1357
3462     1282
7320      966
3354      937
Name: DistrictID, Length: 411, dtype: int64

In [19]:
df.Age_group.value_counts()

A35-A59      830493
A15-A34      723067
A60-A79      395187
A05-A14      248964
A80+         185683
A00-A04       98880
unbekannt      2079
Name: Age_group, dtype: int64

In [20]:
df.Gender.value_counts()

W            1253989
M            1211011
unbekannt      19353
Name: Gender, dtype: int64

In [21]:
df.Updated_on.value_counts()

13.10.2021, 00:00 Uhr    2484353
Name: Updated_on, dtype: int64

This information is not important, the column can be dropped. It represents when the dataset was updated.

In [22]:
df.Illness_onset.value_counts()

1    1789414
0     694939
Name: Illness_onset, dtype: int64

In [23]:
df.Age_group2.value_counts()

Nicht übermittelt    2484353
Name: Age_group2, dtype: int64

All the entries are "not transmitted". I will be dropped.

In [24]:
df.Ref_date.value_counts().sort_index()

2020/01/01 00:00:00+00      14
2020/01/02 00:00:00+00      14
2020/01/03 00:00:00+00      17
2020/01/04 00:00:00+00      19
2020/01/05 00:00:00+00      17
                          ...
2021/10/08 00:00:00+00    3546
2021/10/09 00:00:00+00    2656
2021/10/10 00:00:00+00    1503
2021/10/11 00:00:00+00    1985
2021/10/12 00:00:00+00    2122
Name: Ref_date, Length: 650, dtype: int64

In [25]:
df.Registry_date.value_counts().sort_index()

2020/01/02 00:00:00+00       1
2020/01/23 00:00:00+00       1
2020/01/28 00:00:00+00       2
2020/01/29 00:00:00+00       2
2020/01/31 00:00:00+00       4
                          ...
2021/10/08 00:00:00+00    5588
2021/10/09 00:00:00+00    4377
2021/10/10 00:00:00+00    1794
2021/10/11 00:00:00+00    3448
2021/10/12 00:00:00+00    4592
Name: Registry_date, Length: 612, dtype: int64

Registry_date represents when the information was registered by the RKI, not the date of the illness or death. The column can be dropped.

In [26]:
df['New_case'].value_counts()

 0    2477669
 1       6508
-1        176
Name: New_case, dtype: int64

In [27]:
df['New_death'].value_counts()

-9    2404753
 0      79506
 1         93
-1          1
Name: New_death, dtype: int64

In [28]:
df['New_recoveries'].value_counts()

 0    2328725
-9     148789
 1       6686
-1        153
Name: New_recoveries, dtype: int64

By looking at the values, 'New_case','New_death', and 'New_recoveries' are probably used to flag the presence of new cases/deaths. These columns can be dropped

In [29]:
#dropping columns that are not important or redundant
df.drop(columns=['StateID', 'DistrictID','Age_group2', 'Updated_on', 'Registry_date', 'New_case', 'New_death', 'New_recoveries'], 
        inplace=True)

In [30]:
#changing object-type columns to category
df['State']=df.State.astype('category')
df['Age_group']=df.Age_group.astype('category')
df['Gender']=df.Gender.astype('category')

In [31]:
#replace some entries with the english equivalent for clarity
df=df.replace({'unbekannt':'unknown'})
df['Gender']=df['Gender'].replace({'W':'F'})

#### Time and Dates

In [33]:
#transform the Ref_date column to datetime
df['Date'] =  pd.to_datetime(df['Ref_date'], infer_datetime_format=True)

In [34]:
#extract day, month, year, and weekday information form datetime column
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year
df['weekday']= df['Date'].dt.dayofweek

In [37]:
#drop the 'Ref_date' column. The relevant information is now encoded in the 'Date' column
df=df.drop(columns=['Ref_date'])

Recast columns to a more appropriate type

In [35]:
#The maximum number expected for any entry has an order of magnitude of 10E6, much lower than 10E159 allowed by int64.
#cast the columns to a more appropriate type 
df['day'] = df['day'].astype('int16')
df['month'] = df['month'].astype('int16')
df['year'] = df['year'].astype('int16')
df['weekday']= df['weekday'].astype('int16')
df['N_cases'] = df['N_cases'].astype('int32')
df['N_deaths'] = df['N_deaths'].astype('int32')
df['ObjectId'] = df['ObjectId'].astype('int32')
df['N_recoveries'] = df['N_recoveries'].astype('int16')
df['Illness_onset'] = df['Illness_onset'].astype('category')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484353 entries, 0 to 2484352
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   State          category
 1   District       object
 2   Age_group      category
 3   Gender         category
 4   N_cases        int32
 5   N_deaths       int32
 6   ObjectId       int32
 7   N_recoveries   int16
 8   Illness_onset  category
 9   Date           datetime64[ns]
 10  day            int16
 11  month          int16
 12  year           int16
 13  weekday        int16
dtypes: category(4), datetime64[ns](1), int16(5), int32(3), object(1)
memory usage: 99.5+ MB

### Importing the demographics dataset

In [41]:
demo=pd.read_csv(os.path.join(path,'data', 'original_data','demo_de.csv'))

In [42]:
demo.head()

          Bundesland  m�nnlich  weiblich  Insgesamt
0  Baden-W�rttemberg   5516636   5586407   11103043
1             Bayern   6512595   6627588   13140183
2             Berlin   1802038   1862050    3664088
3        Brandenburg   1248050   1283021    2531071
4             Bremen    336390    343740     680130

In [43]:
demo.shape

(16, 4)

In [75]:
demo.describe()

               Male        Female         Total
count  1.600000e+01  1.600000e+01  1.600000e+01
mean   2.564157e+06  2.633032e+06  5.197189e+06
std    2.439448e+06  2.507219e+06  4.946532e+06
min    3.363900e+05  3.437400e+05  6.801300e+05
25%    1.013642e+06  1.039655e+06  2.053297e+06
50%    1.613844e+06  1.673638e+06  3.287482e+06
75%    3.319170e+06  3.401551e+06  6.720721e+06
max    8.794888e+06  9.130682e+06  1.792557e+07

In [76]:
#check for missing values
demo.isna().sum()

State     0
Male      0
Female    0
Total     0
dtype: int64

There are no missing values

In [77]:
#check for mixed-type data
for col in demo.columns.tolist():
  weird = (demo[[col]].applymap(type) != demo[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (demo[weird]) > 0:
    print (col +' has mixed-type data')
  else:
    print (col + ' data type is uniform')

State data type is uniform
Male data type is uniform
Female data type is uniform
Total data type is uniform

All columns data type are uniform

In [79]:
#check for duplicated entries
demo_dups=demo[demo.duplicated()]

In [81]:
demo_dups.shape

(0, 4)

There are no duplicate entries

In [44]:
demo.Bundesland.value_counts().sort_index()

Baden-W�rttemberg         1
Bayern                    1
Berlin                    1
Brandenburg               1
Bremen                    1
Hamburg                   1
Hessen                    1
Mecklenburg-Vorpommern    1
Niedersachsen             1
Nordrhein-Westfalen       1
Rheinland-Pfalz           1
Saarland                  1
Sachsen                   1
Sachsen-Anhalt            1
Schleswig-Holstein        1
Th�ringen                 1
Name: Bundesland, dtype: int64

In [45]:
#Replace unknown characters in the values
demo=demo.replace({'Baden-W�rttemberg':'Baden-Württemberg', 'Th�ringen':'Thüringen'})

In [46]:
demo.Bundesland.value_counts().sort_index()

Baden-Württemberg         1
Bayern                    1
Berlin                    1
Brandenburg               1
Bremen                    1
Hamburg                   1
Hessen                    1
Mecklenburg-Vorpommern    1
Niedersachsen             1
Nordrhein-Westfalen       1
Rheinland-Pfalz           1
Saarland                  1
Sachsen                   1
Sachsen-Anhalt            1
Schleswig-Holstein        1
Thüringen                 1
Name: Bundesland, dtype: int64

In [53]:
#rename columns
demo=demo.rename(columns=({'Bundesland':'State','m�nnlich':'Male', 'weiblich':'Female', 'Insgesamt':'Total'}))

In [54]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   16 non-null     object
 1   Male    16 non-null     int64
 2   Female  16 non-null     int64
 3   Total   16 non-null     int64
dtypes: int64(3), object(1)
memory usage: 640.0+ bytes

In [63]:
#merge the tow dataframes
df_merged=pd.merge(df, demo, on=['State'])

In [64]:
df_merged.head()

,State,District,Age_group,Gender,N_cases,N_deaths,ObjectId,N_recoveries,Illness_onset,Date,day,month,year,weekday,Male,Female,Total
0,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1,1,0,2020-09-30,30,9,2020,2,1425649,1485226,2910875
1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2,1,0,2020-10-29,29,10,2020,3,1425649,1485226,2910875
2,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,3,1,0,2020-11-03,3,11,2020,1,1425649,1485226,2910875
3,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,4,1,1,2020-11-19,19,11,2020,3,1425649,1485226,2910875
4,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,5,1,1,2020-11-18,18,11,2020,2,1425649,1485226,2910875

In [66]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2484353 entries, 0 to 2484352
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   State          object
 1   District       object
 2   Age_group      category
 3   Gender         category
 4   N_cases        int32
 5   N_deaths       int32
 6   ObjectId       int32
 7   N_recoveries   int16
 8   Illness_onset  category
 9   Date           datetime64[ns]
 10  day            int16
 11  month          int16
 12  year           int16
 13  weekday        int16
 14  Male           int64
 15  Female         int64
 16  Total          int64
dtypes: category(3), datetime64[ns](1), int16(5), int32(3), int64(3), object(2)
memory usage: 191.9+ MB

In [67]:
#cast Columns to int32
df_merged['Male']=df_merged['Male'].astype('int32')
df_merged['Female']=df_merged['Female'].astype('int32')
df_merged['Total']=df_merged['Total'].astype('int32')

In [72]:
df_merged.dtypes

State                    object
District                 object
Age_group              category
Gender                 category
N_cases                   int32
N_deaths                  int32
ObjectId                  int32
N_recoveries              int16
Illness_onset          category
Date             datetime64[ns]
day                       int16
month                     int16
year                      int16
weekday                   int16
Male                      int32
Female                    int32
Total                     int32
dtype: object

In [74]:
#Export the merged dataframe
df_merged.to_csv(os.path.join(path,'data','prepared_data','df_checked.csv'))